# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
BSAP_DataDump/obj/Debug/TempPE/*.*
BSAP_DataDump/obj/Debug/*.*
BSAP_Config/obj/Debug/TempPE/*.*
BSAP_Config/obj/Debug/*.*
BSAP_AppMonitor/obj/Debug/*.*
BSApplicationProfiler/bin/Debug/*.*
BSApplicationProfiler/obj/Debug/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Debug/*.*
BSAP_AppMonitor/obj/Release/*.*
BSAP_Config/obj/Release/*.*
BSAP_DataDump/obj/Release/*.*
BSAP_Config/obj/Release/TempPE/*.*
BSAP_Installer/images/Thumbs.db
BSAP_Service/obj/Release/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Debug/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/*.*
BSApplicationProfiler/obj/Release/*.*
BSApplicationProfiler/obj/Release/TempPE/*.*

