# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
BSAP_DataDump/obj/
BSAP_Config/obj/
BSAP_AppMonitor/obj/
BSApplicationProfiler/bin/
BSApplicationProfiler/obj/
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/
BSAP_AppMonitor/obj/
BSAP_Config/obj/
BSAP_DataDump/obj/
BSAP_Config/obj/
BSAP_Installer/images/Thumbs.db
BSAP_Service/obj/
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/
BSApplicationProfiler/obj/
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/
BSAP_DataDump/obj/
BSAP_Service/obj/
BSAP_AppMonitor/obj/
BSAP_MonitorService/obj/
BSAP_ProjectMonitor/obj/
BSApplicationProfiler/bin/
/BSAP_SubAppMonitor/bin/
/BSAP_SubAppMonitor/obj/
BSAP_MonitorService/obj/
BSAP_ProjectMonitor/obj/
BSAP_Service/obj/
BSAP_SubProcessMonitor/obj/
BSAP_SubAppMonitor/obj/
BSAP_SubProcessMonitor/obj/
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/
/.vs/BSApplicationProfiler/v15/Server/sqlite3
/BSAP_UI_WebForms/.vs/BSAP_UI_WebForms/v15/Server/sqlite3
BSAP_ProjectMonitor/bin/Debug/
BSAP_SubAppMonitor/obj/
BSAP_ProjectMonitor/obj/
BSAP_SubProcessMonitor/obj/
BSAP_UI_WebForms\BSAP_UI_WebForms/obj/
BSAP_SubAppMonitor/obj/
BSApplicationProfilerOffline/obj/
.vs/
BSApplicationProfiler/bin/
BSAP_MonitorService/bin/
BSAP_ProjectMonitor/bin/
BSAP_DataDump/obj/
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/
BSAP_UI_WebForms/BSAP_UI_WebForms/bin/