# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
BSAP_DataDump/obj/Debug/TempPE/*.*
BSAP_DataDump/obj/Debug/*.*
BSAP_Config/obj/Debug/TempPE/*.*
BSAP_Config/obj/Debug/*.*
BSAP_AppMonitor/obj/Debug/*.*
BSApplicationProfiler/bin/Debug/
BSApplicationProfiler/obj/Debug/
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Debug/*.*
BSAP_AppMonitor/obj/Release/*.*
BSAP_Config/obj/Release/*.*
BSAP_DataDump/obj/Release/*.*
BSAP_Config/obj/Release/TempPE/*.*
BSAP_Installer/images/Thumbs.db
BSAP_Service/obj/Release/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Debug/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/*.*
BSApplicationProfiler/obj/Release/*.*
BSApplicationProfiler/obj/Release/TempPE/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/Source/bin/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/*.*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/Source/bin/WebForms_Basic.xml
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/Source/controls/Session_Details.ascx
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/agents.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/App_global.asax.dll
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/application_agents.ascx.cc671b29.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/application_list.ascx.cc671b29.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/application_sessions.ascx.cc671b29.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/BSAP_UI_WebForms.dll
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/default.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/edit_application.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/project_list_all_sessions_by_agent.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/project_list_all_sessions.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/session_details.ascx.cc671b29.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/session_details.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/sessions_by_agent.ascx.cc671b29.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/site.master.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/site.mobile.master.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/viewswitcher.ascx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/AspnetCompileMerge/TempBuildDir/bin/WebForms_Basic.xml
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/*.*
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/agents.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/App_global.asax.dll
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/application_agents.ascx.cc671b29.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/application_list.ascx.cc671b29.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/application_sessions.ascx.cc671b29.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/BSAP_UI_WebForms.dll
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/default.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/edit_application.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/project_list_all_sessions_by_agent.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/project_list_all_sessions.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/project_list.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/session_details.ascx.cc671b29.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/session_details.aspx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/sessions_by_agent.ascx.cc671b29.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/site.master.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/site.mobile.master.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/viewswitcher.ascx.cdcab7d2.compiled
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/Package/PackageTmp/bin/WebForms_Basic.xml
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/Release/*.*
BSAP_DataDump/obj/Release/*.*
BSAP_Service/obj/Release/*.*
BSAP_AppMonitor/obj/Release/*.*
BSAP_MonitorService/obj/Release/*.*
BSAP_MonitorService/obj/Release/TempPE/*.*
BSAP_ProjectMonitor/obj/Release/*.*
BSAP_ProjectMonitor/obj/Release/TempPE/*.*
BSApplicationProfiler/bin/Release/*.*
/BSAP_SubAppMonitor/bin/Debug
/BSAP_SubAppMonitor/bin/Release
/BSAP_SubAppMonitor/obj/Debug/BSAP_SubAppMonitor.pdb
/BSAP_SubAppMonitor/obj/Debug/BSAP_SubAppMonitor.exe
/BSAP_SubAppMonitor/obj/Debug/BSAP_SubAppMonitor.csprojResolveAssemblyReference.cache
/BSAP_SubAppMonitor/obj/Debug/BSAP_SubAppMonitor.csproj.FileListAbsolute.txt
/BSAP_SubAppMonitor/obj/Release/BSAP_SubAppMonitor.csproj.FileListAbsolute.txt
BSAP_MonitorService/obj/
BSAP_ProjectMonitor/obj/
BSAP_Service/obj/
BSAP_SubProcessMonitor/obj/
BSAP_SubAppMonitor/obj/
BSAP_SubProcessMonitor/obj/
BSAP_UI_WebForms/BSAP_UI_WebForms/obj/
/.vs/BSApplicationProfiler/v15/Server/sqlite3
/BSAP_UI_WebForms/.vs/BSAP_UI_WebForms/v15/Server/sqlite3
BSAP_ProjectMonitor/bin/Debug/
BSAP_SubAppMonitor/obj/
BSAP_ProjectMonitor/obj/
BSAP_SubProcessMonitor/obj/
BSAP_UI_WebForms\BSAP_UI_WebForms/obj/
BSAP_SubAppMonitor/obj/
BSApplicationProfilerOffline/obj/
.vs/
BSApplicationProfiler/bin/
