<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APP_PATH" value="" />
    <add key="APPLICATION_COUNT" value="1"/>
    <add key="APPLICATION_1" value="audiodg.exe"/>
    <add key="APPLICATION_PARAM_1" value=""/>
    <add key="APPLICATION_INTERVAL_1" value="1"/>
    <!--
    <add key="APPLICATION_1" value=""/>
    <add key="APPLICATION_PARAM_1" value=""/>
    <add key="APPLICATION_INTERVAL_1" value="5"/>
    -->
    <add key="DEBUG" value="false" />
    <add key="CONSOLE" value="false" />
    <add key="USE_LOGFILE" value="true" />
    <add key="LOGFILE" value="logs\bsapol.err.log" />
    <add key="BUGFILE" value="logs\bsapol.debug.log" />
    <add key="BUGFILE_LEVEL" value="low" />
    <!--  low,medium or high modes-->
    <add key="SHORTPATH" value="~1" />
    <add key="TIMER_INTERVAL" value="1" />
    <add key="RUNPROGRAM" value="BSAP_AppMonitor.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AGENT_ID" value="10" />
    <add key="HEARTBEAT_INTERVAL" value="5" />
    <add key="DBREFRESH_INTERVAL" value="10" />
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>